%h1 
  Welcome to 
  =@place.name

%h3 Menu
.menu
  %table{:class=>'table'}
    - @place.products.each do |p|
      -if not p.id.nil?
        %tr
          %td
            = p.name
          %td
            = number_to_currency p.price
          %td
            = link_to 'buy', new_place_product_order_path(p.place_id, p.id)

%h2 Add a drink
.pull-left
  = form_for @product, :url=>place_products_path(@place.id) do |f|
    %table
      %tr
        %td
          Name
        %td
          =f.text_field :name
      %tr
        %td
          price
        %td
          =f.text_field :price
      %tr
        %td
          Description
        %td
          =f.text_area :desc
      %tr
        %td
        %td
          =f.submit 'Add', :class=>'btn'

.pull-right
  -@products.each do |p|
    = p.name
    %br
