<!DOCTYPE html>
<html>
<head>
  <title>Pos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to 'Point', root_path, :class=>'brand' %>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Place<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                <li class="nav-header">Quick Access</li>
                <li class="nav-header">Special Access</li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <%= link_to 'Your Orders', orders_path %>
            </li>
            <% if current_customer %>
              <li>
                <%= link_to 'Hi Nate', '#'%>
              </li>
            <% else %>
              <li>
                <%= link_to 'Sign in', new_customer_session_path%>
              </li>
            <% end %>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

<div class='main container'>
<%= yield %>
</div>

<div class='container'>
<%= render 'pages/footer' %>
</div>
</body>
</html>
